/* Base styling */
body {
    margin: 0;
    padding: 0;
    background-color: #424242;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
/* Image grid formatting */
.img_grid {
    padding: 14px;
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* image item div formatting */
.imgitem {
    cursor: pointer;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* Image description styling */
.description {
    color: white;
}
/* Navigation bar styling */
ul.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* Styling for the navbar list */
ul.navbar li {
    float: left;
}
/* Styling for the navbar list items */
ul.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
/* Styling for the navbar hover highlight */
ul.navbar li a:hover {
    background-color: #30658a;
    border-radius: 10px;
}
/* Header styling */
h1 {
    text-align: center;
    color: cornsilk;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* Modal function formatting */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}
/* Modal item formatting */
.modal img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Modal close button formatting */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
/* Default link styling */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
/* Visited link styling */
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
/* Link hover styling */
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
/* Active link styling */
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}